<div id="membre">
    <h1>Membres</h1>
    <input type="text" placeholder="Chercher un membre...">
    <table id="mb">
        <thead class="header">
            <th class="contentCell">ID Membre </th>
            <th class="contentCell">Numéro de Porte </th>
            <th class="contentCell">Ville </th>
            <th class="contentCell">Code Postal </th>
            <th class="contentCell">eMail </th>
            <th class="contentCell">Numéro Bancaire </th>
            <th class="contentCell">Banque </th>
            <th class="contentCell">Mot de Passe </th>
            <th class="contentCell">Emplacement Préféré </th>
        </thead>
        <tbody>
            <tr *ngFor="let membre of membres; let i = index">
                
            </tr>



        </tbody>
    </table> 


</div>    


